.pageup {
    display: none;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 5rem;
    height: 5rem;

    img {
        transition: all 0.6s ease;
        width: 100%;
        &:hover {
            transition: all 0.6s ease;
            transform: scale(1.2);
        }
    }
}