.header {
    &__nav {
        width: auto;
        position: absolute;
        left: 102rem;
        top: 5rem;
    }
}
    .nav {
        display: flex;
        list-style-type: none;
        // justify-content: flex-end;
        &__item a {
            @include fz20;
            text-decoration: none;
            margin-left: 3rem;
            cursor: pointer;
            color: #fff;
            background:transparent;
            transition: all 0.4s;
            letter-spacing: 0.2rem;
        }
        &__item a:hover {
            color: $font-color;
            box-shadow: 0 5px 0 $font-color;
            
        }
    }
