.projects {
    margin-top: 8rem;
    &__wrapper {
        padding-top: 4rem ;
        display:grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-auto-rows: 28rem;
        gap: 5px;
    }
    
    &__title {
        margin: 0 auto;
        position: relative;
        text-align: center;
        width: 100px;
        @include fz16;
        @include before-circle;
    }
    
    &__subtitle {   
        text-align: center;
        @include fz36;
    }
    &__item {
        transition: all 0.5s;
        img {
            width: 100%;

        }
        &:hover {

            transform: scale(1.025);
        }
    }
    .vertical {
        grid-row: 1 / 3;
        grid-column: 1 / 2 ;
    }
    .horizontal {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    } 
}