.resume {
    padding-top: 1rem;
    
    &__title {
        @include fz16;
        position: relative;
        text-align: center;
        @include before-circle;
        &::before {
            top: -6px;
            left: 47%;
            transform: translate(-50%);
        }
    }
    &__subtitle {
        text-align: center;
        @include fz36
    }
    &__wrapper {
        padding: 3rem  6.5rem 0 6.5rem;
        display: grid;
        column-gap: 13.5rem;
        grid-template-columns: repeat(2, 42rem);
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 3.5rem;
            @include fz20;

            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -5px;
                z-index: -1;
            }
        }
    }
    &__item {
        &-head {
            position: relative;
            padding: 45px 0 0 100px;

        }
        &-icon {
            position: absolute;
            top: 55px;
            left: 102px;
        }
        &-univer {
            margin-top: 1rem;;
            @include fz16;
        }
        &-diplom {
            @include fz14;
            & a {
                font-size: 16px;
                text-decoration: none;
            }
        }
        
    }
}